<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
    <title>Jaga - Jangan Kena Denda</title>
</head>
<body>
    <div id="header">
        <div class="container">
            <div id="logo">
                <a class="navbar-brand text-dark" href="/user">JAGA</a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/user">About Us</a></li>
                    <li><a href="/user">Contacts</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Register</a></li>
                </ul>
            </div>
        </div>   
    </div>