<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
    <title>Jaga - Jangan Kena Denda</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="mt-3" style="width: 250px">
                <img src="../../public/assets/images/avatar.jpg" alt="" width="100" style="margin-left: 70px;">
                <p class="text-center text-white mt-3">Eddy Permana</p>
            </div>
            <a href="/user/daftar-tagihan">Profile</a>
            <a href="/user/daftar-tagihan">Tagihan</a>
            <a href="/user/daftar-tagihan">Laporan bulanan</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </nav>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>