<%- include('partials/header'); -%>

<div id="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="wrapper-relative">
                    <img src=".././public/assets/images/banner.png" alt="logo" width="100%">
                    <div class="text-absolute">
                        <h1>Menjaga tagihan dengan JAGA<br>solusi utama tanpa denda </h1>
                        <p>Kami membantu mengingatkan anda untuk membayar tepat pada waktu nya</p>
                        <a class="btn-lg btn-primary">Pelajari Lebih Lanjut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-hero">
    <div class="container-home">
        <div class="left-column">
            <div class="image-wrapper">
                <img src=".././public/assets/images/img_1.png" alt="logo" width="100%">    
            </div>
        </div>
        <div class="right-column">
            <div class="text-wrapper">
                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incididunt ut</p>    
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container-home">
        <div class="">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac. Elementum nibh tellus molestie nunc non blandit massa enim.</p> 
        
            <a href="#" class="btn btn-primary">MORE</a>
        </div>
    </div>
</div>

<%- include('partials/footerIn'); -%>