<%- include('partials/header'); -%>

<div id="member" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">Members</h3>
                <table class="table table-striped shadow">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile Number</th>
                            <th scope="col">Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Eddy</td>
                            <td>08124567890</td>
                            <td>eddy@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jansen</td>
                            <td>08124579847</td>
                            <td>jansen@gmail.com</td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>
    </div>    
</div>

<%- include('partials/footer'); -%>